#income {
    width:640px;
    /* border-bottom:1px solid #dad9d9; */
    margin-bottom:40px;
    margin-left:10px;
    float:left;
    color:#000;
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
}
#income table{
    width:100%;
    border-collapse:collapse;
    /* border-top:1px dotted #c4c3c0; */
    font-size:12px;
}

#income th{
    width:100px;
    border-top:1px solid #dfdedb;
    border-bottom:1px dotted #c4c3c0;
    border-right:1px solid #dfdedb;
    background:#f8f8f8;
    font-weight:bold;
    padding: 10px;
    text-align:center;
}

#income td{
    border-bottom:1px dotted #c4c3c0;
    border-right:1px solid #dfdedb;
    padding: 10px;
    text-align:center;
}

#income td.value{
    border-right:none;
}
#income td.first{
    border-top:1px solid #dfdedb;
}

#income tr.last td{
    border-bottom:1px solid #dfdedb;
}
#income tr.last th{
    border-bottom:1px solid #dfdedb;
}

#income th.cell01{ border-left:1px solid #dfdedb; }
#income td.cell02{ border-left:1px solid #dfdedb; }

#income th.date{ width:50px; }
#income th.code{ width:20px; }
#income th.income{ width:40px; }
#income th.trend{ width:20px; }

#income td.new{ background:#FF904B;color:#fff; }

#income #download{
    width:600px;
    margin:10px;
    padding:10px;
    background-color:#f8f8f8;
    border:1px solid #e3e3e3;
}

.chart {
    position: relative;
    float: left; 
    margin-right: 18px;
}
.chart .count {
    position: absolute;
    border-radius: 50%;
    top: 80px;
    left: 25px;
    height: 152px;
    width: 152px;
    text-align:center;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    color: #F38630;
    line-height:120%;
}

#chart_precipitation_total {
    float:left;
    position: relative;
    width: 380px;
}
#chart_precipitation_total .count {
    position: absolute;
    top: 0;
    left:0 ;
    width: 100%;
    text-align: right;
}
#chart_precipitation_total em, 
#chart_precipitation_total span {
    font-family: Arial;
    width: 100%;
    text-align: center;
}
#chart_precipitation_total em {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: #66ccff;
}
#chart_precipitation_total .caption {
    color: #ccc;
    font-size: 12px;
}