@charset "utf-8";
/* local css*/
.pcdisp{
    display:inherit!important;
}
.spdisp{
    display:none!important;
}
body {
    background:#ccc;
}

.l1 {
    border:1px solid #e9e7e7;
    background:url(/images/tt_h1_bg.jpg) 0 center no-repeat;
    padding: 12px 15px 12px 66px;
    font-size:120%;
    font-weight:bold;
    margin:0px 20px 10px 10px;

    border-radius: 3px;
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;
}
.l2 {
    font-size:116%;
    font-weight:bold;
    padding:0 0 7px 0;
    border-bottom:3px solid #e9e7e7;
    height:1em;
    margin-bottom:15px;
    margin-top:20px !important;
}
.l2 span {
    float:left;
    display:block;
    border-bottom:3px solid #fd6405;
    padding-bottom:7px;
    padding-left:3px;
    padding-right:3px;
    height:1em;
}

.l3 {
    background:url(/images/tt_h3_bg.gif) 0 center no-repeat;
    padding-left:26px;
    font-size:116%;
    font-weight:bold;
    margin-bottom:15px;
}
.pager ul {
width:100%;
text-align:center;
}
.pager li {
margin:0 1px;
display:inline;
}
.pager li a:link,
.pager li a:visited {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
background:url(../images/tbt_m_w.jpg) 0 0 no-repeat;
border:1px solid #d4c89f;
line-height:30px;
height:30px;
text-align:center;
color:#9a3d03;
font-size:100%;
text-decoration:none;
padding:0 20px;
display:inline-block;
font-weight:bold;
}
.pager li a:hover {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background:url(../images/tbt_m_b.jpg) 0 0 no-repeat;
    border:1px solid #0D72BD;
    line-height:30px;
    height:30px;
    text-align:center;
    color:#fff;
    font-size:100%;
    text-decoration:none;
    padding:0 20px;
    display:inline-block;
    font-weight:bold;
}
.pager li a.active {
    background:url(../images/tbt_m_b.jpg) 0 0 no-repeat;
    border:1px solid #0D72BD;
    line-height:30px;
    height:30px;
    text-align:center;
    color:#fff;
    font-size:100%;
    text-decoration:none;
    padding:0 20px;
    display:inline-block;
    font-weight:bold;
}

.sort ul {
    width:100%;
    text-align:center;
    margin-bottom:20px;
}
.sort li {
    margin:0 2px;
    display:inline;
}
.sort li a:link,
.sort li a:visited {
    background:url(../images/tbt_m_w.jpg) 0 0 no-repeat;
    border:1px solid #d4c89f;
    line-height:24px;
    height:24px;
    text-align:center;
    color:#9a3d03;
    font-size:85%;
    text-decoration:none;
    padding:0 20px;
    display:inline-block;
}
.sort li a:hover {
    background:url(../images/tbt_m_b.jpg) 0 0 no-repeat;
    border:1px solid #cc6626;
    line-height:24px;
    height:24px;
    text-align:center;
    color:#fff;
    font-size:85%;
    text-decoration:none;
    padding:0 20px;
    display:inline-block;
}
.sort li a.active {
    background:url(../images/tbt_m_b.jpg) 0 0 no-repeat;
    border:1px solid #cc6626;
    line-height:24px;
    height:24px;
    text-align:center;
    color:#fff;
    font-size:85%;
    text-decoration:none;
    padding:0 20px;
    display:inline-block;
}

/* header
--------------------------------------------------*/
/* xbrl 内部CSS対応 */
#header div,#header h1,#header h2 ,#header a{
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    font-size: 100% !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-decoration: none !important;
    list-style-type: none !important;
    /*text-indent: 0px !important;*/
    line-height: normal !important;
    letter-spacing: normal !important;
}

div#headerInner,div#breadcrumbInner { font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", "Osaka", sans-serif !important;}

div#header {
    width:100% !important;
    background:#fff !important;
    height:82px !important;
    z-index:5000 !important;
}
div#headerInner{
    width:1000px !important;
    height:42px !important;
    margin:0 auto !important;
    position:relative !important;
}
div#header h1{
    width:244px !important;
    height:25px !important;
    text-indent:-9999px !important;
    position:absolute !important;
    top:8px !important;
    left:0 !important;
}
div#header h1 a{
    display:block !important;
    width:244px !important;
    height:25px !important;
    background: url(../images/logo.png) 0 0 no-repeat !important;
    background-size:244px 25px !important;
}
div#header h2{
    width:400px !important;
    height:11px !important;
    position:absolute !important;
    top:18px !important;
    left:250px !important;
}
div#header .navSp {
    display:none !important;
}
div#header .navPc {
    display:block !important;
    position:absolute !important;
    top:8px !important;
    right:0 !important;
    z-index:6000 !important;
}

.navPc li {
    position: relative !important;
    float: right !important;
    margin: 0 !important;
    padding: 0 !important;
    width:132px !important;
    margin-left:3px !important;
}

div#header .navPc li a.ttl{
    display:block !important;
    margin: 0 !important;
    padding: 0 !important;
    width:132px !important;
    height:28px !important;
    display:block !important;
    background-repeat:no-repeat !important;
    background-position: 0 0 !important;
    background-size:132px 28px !important;
    text-indent:-9999px !important;
}

div#header .navPc li a.nav01 { background-image: url(../images/nav_01.png) !important; }
div#header .navPc li a.nav02 { background-image: url(../images/nav_02.png) !important; }
div#header .navPc li a.nav03 { background-image: url(../images/nav_03.png) !important; }
div#header .navPc li a.nav04 { background-image: url(../images/nav_04.png) !important; }
div#header .navPc li a.nav05 { background-image: url(../images/nav_05.png) !important; }
div#header .navPc li a.nav06 { background-image: url(../images/nav_06.png) !important; }


div#header .navPc li ul {
    display: none !important;
    position: absolute !important;
    top: 28px !important;
    width:132px !important;
    background: url(../images/bg_nav.png) 0px 0px repeat !important;
    
}
div#header .navPc li ul li {
    display:block !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 132px !important;
    border-bottom: 1px solid #ccc !important;
}
div#header .navPc li ul li a {
    display: block !important;
    width:110px !important;
    text-decoration:none !important;
    color:#fff !important;
    text-indent:0 !important;
    line-height:120% !important;
    padding:12px 4px 10px 18px !important;
    background: url(../images/icon_arrow_nav.png) 8px 13px no-repeat !important;
}
div#header .navPc li ul li:hover {
    background: url(../images/bg_nav_on.png) 0px 0px repeat !important;
}
div#header .navPc li ul li a:hover {
    color:#fff !important;
}
div#header .navPc li ul.menuBox {
    top: 28px !important;
    left:-528px !important;
    width:660px !important;
    background: url(../images/bg_nav.png) 0px 0px repeat !important;
}

/* xbrl 内部CSS対応 */
#breadcrumb div,#breadcrumb span,#breadcrumb a {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    font-size: 100% !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-decoration: none !important;
    list-style-type: none !important;
}

div#breadcrumb {
    width:100% !important;
    background:url(../images/bg_breadcrumb.png) 0 0 repeat-x !important;
    float:none !important;
    display:block !important;
    z-index:2000 !important;
}

div#breadcrumbInner {
    width:997px !important;
    height:40px !important;
    margin:0 auto !important;
    border-left:1px solid #c6c6c6 !important;
}
div#breadcrumbInner span {
    display:block !important;
    border-right:1px solid #c6c6c6 !important;
    height:40px !important;
    float:left !important;
}

div#breadcrumbInner span.news {
    border-right:none !important;
}

div#breadcrumbInner span a{
    display:block !important;
    height:40px !important;
    color:#000 !important;
    padding:10px 9px 0 !important;
}

div#breadcrumbInner span a:hover{
    background:url(../images/bg_breadcrumb_on.png) 0 0 repeat-x !important;
}
div#breadcrumbInner span.news p{
    display:block !important;
    height:40px !important;
    color:#fff !important;
    font-weight:bold !important;
    padding:10px 5px 0 !important;
}
div#breadcrumb .searchBox {
    float:right !important;
    padding-top:7px !important;
}
div#breadcrumb .searchBox .focus{
    width:320px !important;
    height:16px !important;
    padding:2px !important;
    margin-right:8px !important;
    color:#a0a09f !important;
}

.ie div#breadcrumb .searchBox .focus{ height:20px !important;}

div#breadcrumb .searchBox #datepicker {
    width:90px !important;
    height:16px !important;
    padding:2px 5px !important;
    margin-right:8px !important;
    color:#a0a09f !important;
    background:url(../images/icon_calendar.png) 79px 3px no-repeat #fff !important;
}
.win.ie8 div#breadcrumb .searchBox #datepicker{ line-height:240% !important;}

div#breadcrumb .searchBox .btnSearch {
    width:56px !important;
    height:26px !important;
}

ul.menuBox div {
    padding:20px;
    padding-bottom:15px;
}
ul.menuBox dl {
    display:block;
    border-bottom:1px solid #ccc;

    margin-bottom:10px;
}
ul.menuBox dt, ul.menuBox dd{
    display:block;
    float:left;
    margin-bottom:5px;
}

ul.menuBox dt{
    text-align:left;
    width:100px;
    color:#a3a3a3;
}

ul.menuBox dt.spring_area{
    width:80px;
}

ul.menuBox dt.hakone{
    width:80px;
    height:120px;
}

ul.menuBox dd{
    margin-right:10px;
    padding:0 0;
}
ul.menuBox dd{
    margin-right:10px;
}

ul.menuBox dd a {
    display: block;
    text-decoration:none;
    color:#fff;
    line-height:120%;
    padding-left:12px;
    background: url(../images/icon_arrow_nav.png) 0 1px no-repeat; 
}
ul.menuBox dd a:hover {
    color:#a3a3a3;
} 

table.menuBox{
    padding:5px;
}
table.menuBox tr {
    display:block;
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
}
table.menuBox td{
    text-align:left;
    padding:5px;
}

table.menuBox td.kana_index{
    text-align:left;
    width:20px;
    color:#a3a3a3;
}

table.menuBox td a {
    display:block;
    float:left;
    text-decoration:none;
    color:#fff;
    line-height:140%;
    padding-left:12px;
    margin-right:5px;
    background: url(../images/icon_arrow_nav.png) 0 1px no-repeat; 
}
table.menuBox td a:hover {
    color:#a3a3a3;
} 




/* footer
--------------------------------------------------*/
#footer {
    background:#fff;
    border-bottom:5px solid #0080c1;
}
#footerInner {
    width:940px;
    margin:0 auto;
    padding:0 30px;
}

#footerInnerIn {
    margin:0 auto;
    padding: 28px 0 40px; 
    border-top:1px solid #dbdbdb;
}

#footer .boxRight {
    display: block;
    clear:both;
    text-align:right;
}

#footer .boxRight .copy {
    display:block;
    font-size:11px;
    color:#a4a4a4;
    margin-top:26px;
}
#footer h3 {
    font-size:12px;
    font-weight:bold;
    color:#515151;
    margin-bottom:6px;
}
#footer ul {
    display:block;
}

#footer li a{
    display:block;
    color:#515151;
}
#footer li a:hover{
    font-weight:bold;
}

#footer .logo {
  display: block;
  float: left;
  width: 180px;
}

#footer .logo li {
    display:block;
    float:left;
    margin-right:18px;
    margin-bottom:4px;
}

#footer .about {
  float: left;
  width: 120px;
}

#footer .about li {
  float: left;
  width: 120px;
}

#footer .sec {
  float: left;

}

#footer .sec li {
  width: 110px;
}


.scf {
    margin:0 auto;
    padding-top:10px;
}

.scf h4 {
    width:160px;
    font-size:130%;
    font-weight:bold;
    color:#999;
    padding-bottom:5px;
    border-bottom:1px solid #dfdfdf;
    margin-bottom:20px;
    }
.sc_nav li a{
    padding:0px !important;
    margin:0px !important;
}

/* content
--------------------------------------------------*/
#contents {
    background:url(../images/bg_content.png) 0 0 repeat;
    /*background:#fff;*/
}
#contentsInner {
    width:1000px;
    background:#fff;
    margin:0 auto;
    padding:27px 0 20px 0px;
}
#contents h2{
    color:#444;
    font-size:24px;
    font-weight:bold;
    margin-bottom:20px;
    line-height:120%;
}
#contents h2 em {font-style:normal;}
#contentsInner .line { margin-bottom:20px;}

#contentsInner .highTemp em { color:#fc4747;font-style:normal;}
#contentsInner .lowTemp em { color:#26aadb;font-style:normal;}

#contentsInner div.box {
    position:relative;
    width:300px;
    height:192px;
    margin-right:18px;
    float:left;
    background:#fff;
    -moz-box-shadow: 0 3px 5px #ccc;
    -webkit-box-shadow: 3px 0 5px #ccc;
    box-shadow: 0 3px 5px #ccc;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(js/PIE.htc);
    background:url(../images/bg_box.gif) 0 0 repeat;
    background-size:20px 20px;
}
#contentsInner .guide div.box { height:192px;}
#contentsInner .leisure div.box { height:265px;}
#contentsInner #outing div.box { height:160px;}

#contentsInner div.box a{
    display:block;
    width:100%;
    height:100%;
}

#contentsInner div.box .photo {    
    display:block;
    overflow:hidden;
    -webkit-border-top-left-radius: 5px;  
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;  
    -moz-border-radius-topright: 5px; 
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position:absolute;
    top:0;
    left:0;
}

#contentsInner div.box .photo .shadow{
    position:relative;
    display:block;
    width:300px;
    height:135px;
    z-index:200;
    background: url(../images/bg_pic_shadow.png) 0 0 no-repeat;
    margin-top:-135px;
}

#contentsInner div.box .photo img{
    position:relative;
    display:block;
    width:300px;
    z-index:100;
}

#contentsInner div.box .photo span{
    position:absolute;
    bottom:12px;
    right:15px;
    display:block;
    color:#fff;
    font-weight:bold;
    z-index:300;
    line-height:140%;
    text-align:right;
}
#contentsInner .guide div.box .photo span{font-size:24px;}
#contentsInner .leisure div.box .photo span{font-size:18px;}

#contentsInner div.box .category {
    position:absolute;
    top:0;
    left:0;
    width:45px;
    height:42px;
    z-index:300;
    overflow:hidden;
    -webkit-border-top-left-radius: 5px; 
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px; 
    z-index:100;
}

#contentsInner div.box .icon {
    display:block;
    position:absolute;
    top:124px;
    left:8px;
    width:60px;
    height:60px;
    z-index:300;
}
#contentsInner div.box .icon img{
    width:60px;
    height:60px;
}
#contentsInner div.box .text {
    position:absolute;
    z-index:100;
}
#contentsInner .guide div.box .text { top:142px;left:74px; }
#contentsInner .leisure div.box .text{ top:165px; left:10px; }

#contentsInner div.box .text p{
    margin-bottom:8px;
    padding-right:10px;
    height:35px;
}

#contentsInner div.box .date {
    font-size:16px;
    font-weight:bold;
    color:#64625d;
    margin-bottom:4px;
}
#contentsInner div.box .date em{
    font-size:12px;
    color:#64625d;
    font-style:normal;
}
#contentsInner div.box .date em.sat { color:#26aadb;}
#contentsInner div.box .date em.sun { color:#fc4747;}

#contentsInner div.box .catch {
    background:#f0eae2;
    border-radius: 2px;
    -webkit-border-radius: 2px;  
    -moz-border-radius: 2px;
    font-weight:bold;
    color:#827652;
    display:inline;
    padding:3px 10px;
    font-size:11px; 
}
#contentsInner .leisure {
    margin-top:40px;
}

#contentsInner div.box .info {
    position:absolute;
    z-index:100;
}

#contentsInner div.box .photo span{
    position:absolute;
    bottom:12px;
    right:15px;
    display:block;
    color:#fff;
    font-weight:bold;
    z-index:300;
    line-height:140%;
    text-align:right;
}


.box_base{
    width:598px;
    border-right:1px solid #dfdedb;
}
.box_upper {
    padding:20px
}

.box_upper li {
    display:block;
    float:left;
    margin:0 10px 0 0
}

.box_upper li.right {
    float:right;
    margin:0 0 40px 10px
}
.box_upper li.download {
    width:200px;
}

.box_upper li.download .title {
    font-size:116%;
    font-weight:bold;
    padding:0 0 7px 0;
    border-bottom:3px solid #e9e7e7;
    height:1em;
    margin:0px;
}
.box_upper li.download .title span {
    float:left;
    display:block;
    border-bottom:3px solid #fd6405;
    padding-bottom:7px;
    padding-left:3px;
    padding-right:3px;
    height:1em;
}

#download table{
    width:100%;
    border-collapse:collapse;
    border:none;
}

#download th{
    border:none;
    text-align:center;
}

#download td{
    border:none;
    text-align:left;
}

/* top page
--------------------------------------------------*/
.sprite{background:url(/images/sprite.gif) no-repeat;display:block;}
#top-news1{margin-bottom:10px;}
#top-news1 h2{
  /*background-position:-750px -50px;*/
  width:111px;
  height:20px;
  display:block;
  margin:0px;
}
#top-news1 h2 span{display:none;}
#top-news1-inner{background-color:#f5f4f1;padding:10px 12px 10px 10px;}
#top-news1-inner #photo-wrapper{
  width:329px;
  height:189px;
  float:left;
  overflow:hidden;
  margin:0px;
  padding:0px;
  /*border:solid 1px #ecd900;*/
  border:solid 1px #000;
}
.top-news1-photo{width:331px;float:left;display:none;position:relative;}
.top-news1-list a{text-decoration:none;}
.top-news1-list{
  width:309px;
  float:left;
  color:#fff;
  margin-top:10px;
}
.top-news1-list{color:#fff;}
.top-news1-list ul li{
  position:relative;
  border-left:solid 10px #f5f4f1;/*f5f4f1*/
  padding-left:7px;
  margin-bottom:13px;
  line-height:1.3;
  clear:right;
}
.top-news1-list .more{
    float:right;
    width:12px;
    height:12px;
    background-position:-780px -280px;
    display:block;
    margin-top:3px;
    font-size:0px;
    text-indent:-1000em;
}
.top-news1-list ul li.last{margin-bottom:0;}
.top-news1-list ul li.current{position:relative;border-left:solid 10px #FD6405;padding-left:7px;}
.top-news1-list ul li span.column-ttl{font-size:11px;font-weight:bold;color:#FD6405;}
.top-news1-list ul li span.column-main-ttl{font-size:14px;font-weight:bold;color:#000;}
.top-news1-list ul li span.summary{font-size:12px;color:#000;}
/* xbrl 内部CSS対応 */
body#ind {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

#ind #contents .guide h2{
    color:#000 !important;
    font-size:14px !important;
    font-weight:bold !im portant;
    background:url(../images/icon_h2_guid.png) 0 2px no-repeat !important;
    background-size:14px 14px !important;
    padding:2px 0 2px 20px !important;
    line-height:100% !important;
    margin-bottom:22px !important;
}

#ind .win.ie8 #contents .guide h2{ background:url(../images/icon_h2_guid_ie8.png) 0 2px no-repeat !important; }

#contents .guide h2 em{
    font-style:normal;
    padding-left:8px;
    font-size:11px;
}

#contentsInner .allGuideBtn {
    margin-right:30px;
}
#contentsInner .allGuideBtn a{
    display:block;
    background:#e3e2e2;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    color:#8a8989;
    border-radius: 3px;
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;
    padding:10px;
    -moz-box-shadow: 0 3px 0px #cbcbcb;
    -webkit-box-shadow: 0 3px 0px #cbcbcb;
    box-shadow: 0 3px 0px #cbcbcb;
    behavior: url(js/PIE.htc);
    margin-top:30px;
}
#contentsInner .allGuideBtn a:hover{
    background:#d4d4d4;
}

#contentsInner .howtoBox{
    margin-top:0px;
    margin-bottom:0px;
}

#contentsInner h3.center_dot{
    display:block;
    background: url(../images/h3_howto.png) 0 8px repeat-x;
    background-size:4px 1px;
    text-align:center;
    margin-bottom:10px;
}
#contentsInner h3.center_dot span{
    margin: 0 auto;
    background:#fff;
    padding: 0 15px;
    color:#444;
    font-weight:bold;
    font-size:18px;
}

#contentsInner .howtoBox .step {
    float:left;
    width:184px;
    background: url(../images/icon_step.png) right 20px no-repeat;
    padding-right:36px;
    margin-right:24px;
}
#contentsInner .howtoBox .step04 {
    width:185px;
    background:none;
    padding-right:0;
}
#contentsInner .howtoBox .step h4{
    color:#5191a6;
    font-weight:bold;
    font-size:15px;
    margin-bottom:10px;
    text-align:center;
}
#contentsInner .howtoBox .step p{
    color:#636a6f;
    text-align:left;
}

#contentsInner #outing {
    margin-top:40px;
}
#contentsInner #outing div.box{
    margin-bottom:20px;
}

#contentsInner #outing span { 
    width:100%;
    padding:0 !important;
    margin:0;
    text-align:center;
    top:45%;
    bottom:0;
    right:0;
}

#contentsInner #outing div.box .photo {    
    display:block;
    overflow:hidden;
     -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    border-radius: 5px;
    position:absolute;
    top:0;
    left:0;
}

#contentsInner .allDlBtn{
    width:15%;
    float:right;
    margin:10px 0 10px 10px;
}

#contentsInner .allDlBtn a{
    display:block;
    background:#e3e2e2;
    text-align:center;
    font-weight:bold;
    font-size:12px;
    color:#8a8989;
    border-radius: 3px;
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;
    padding:5px;
    -moz-box-shadow: 0 3px 0px #cbcbcb;
    -webkit-box-shadow: 0 3px 0px #cbcbcb;
    box-shadow: 0 3px 0px #cbcbcb;
    behavior: url(js/PIE.htc);
}
#contentsInner .allDlBtn a:hover{
    background:#d4d4d4;
}

#contentsInner .dlBtn{
    width:50%;
    margin:10px 0 10px 10px;
}

#contentsInner .dlBtn a{
    display:block;
    background:#e3e2e2;
    text-align:center;
    font-weight:bold;
    font-size:12px;
    color:#8a8989;
    border-radius: 3px;
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;
    padding:5px;
    -moz-box-shadow: 0 3px 0px #cbcbcb;
    -webkit-box-shadow: 0 3px 0px #cbcbcb;
    box-shadow: 0 3px 0px #cbcbcb;
    behavior: url(js/PIE.htc);
}
#contentsInner .dlBtn a:hover{
    background:#d4d4d4;
}

/* area page
--------------------------------------------------*/
#btnPc {
    width:910px;
    padding-bottom:10px;
    margin-bottom:10px;
}

#btnPc dl {
    display:block;
    font-size:14px;
    border-bottom: 1px solid #eaeaea;
    padding:10px 10px;
}

#btnPc dl.btnPc02, #btnPc dl.btnPc04 {
    background:#f9f9f9;
}

#btnPc dt {
    display:block;
    font-weight:bold;
    float:left;
    clear:left;
    width:50px;
    padding-top:5px;
}

#btnPc dd {
    display:block;
    font-weight:bold;
    float:left;
    margin-right:12px;  
}

#btnPc dd a{
    display:block;
    border:1px solid #e2e2e2;
    border-radius: 2px;
    -webkit-border-radius: 2px;  
    -moz-border-radius: 2px;
    padding:20px 40px;
    -moz-box-shadow: 0 0 3px #e2e2e2;
    -webkit-box-shadow: 0 0 3px #e2e2e2;
    box-shadow: 0 0 3px #e2e2e2; 
    background:#fff;
}
#btnPc dd a:hover{
    border:1px solid #c3c2c2;
}
#btnPc dd.active a{
    border:1px solid #ffb969;
    -moz-box-shadow: 0 0 3px #ffc37f;
    -webkit-box-shadow: 0 0 3px #ffc37f;
    box-shadow: 0 0 3px #ffc37f; 
}

#btnSp {
    display:none;
}
/* side
--------------------------------------------------*/
.side_title {
    color:#000;
    font-weight:700;
    font-size:93%;
    background:#f8f8f8;
    padding:15px 20px 12px
}
#sidebar {
    width:310px;
    float:left;
}

#sidebar .box_wrap {
    width:300px;
    margin:0px 0px 0px 10px;
}

#sidebar .box_wrap .box_adx {
    margin:0 0 30px
}

#sidebar .box_wrap .box_adx img,#sidebar .box_wrap .box_adx ins {
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -webkit-transition:box-shadow .5s ease;
    -moz-transition:box-shadow .5s ease;
    -o-transition:box-shadow .5s ease;
    transition:box-shadow .5s ease
}

#sidebar .box_wrap .box_adx img:hover,#sidebar .box_wrap .box_adx ins:hover {
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.6);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.6);
    box-shadow:0 0 10px 0 rgba(0,0,0,.6)
}

#sidebar .box_wrap .box_adx img img,#sidebar .box_wrap .box_adx img ins,#sidebar .box_wrap .box_adx ins img,#sidebar .box_wrap .box_adx ins ins {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none
}

#sidebar .box_wrap .box_adx_ss {
    margin:0 0 20px
}

#sidebar .box_wrap .box_adx_ss li {
    margin:0 0 10px 10px;
    display:block;
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -webkit-transition:box-shadow .5s ease;
    -moz-transition:box-shadow .5s ease;
    -o-transition:box-shadow .5s ease;
    transition:box-shadow .5s ease;
    width:145px;
    float:left
}

#sidebar .box_wrap .box_adx_ss li:hover {
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.6);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.6);
    box-shadow:0 0 10px 0 rgba(0,0,0,.6)
}

#sidebar .box_wrap .box_sns {
    margin:0 0 30px
}

#sidebar .box_wrap .box_sns .fb,#sidebar .box_wrap .box_sns .rss,#sidebar .box_wrap .box_sns .tw {
    margin:0 0 10px;
    padding:28px 0;
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    text-align:center;
    width:100%;
    overflow:hidden
}

#sidebar .box_wrap .box_sns .fb .btn,#sidebar .box_wrap .box_sns .fb .fb-like,#sidebar .box_wrap .box_sns .fb .twitter-follow-button,#sidebar .box_wrap .box_sns .fb img,#sidebar .box_wrap .box_sns .rss .btn,#sidebar .box_wrap .box_sns .rss .fb-like,#sidebar .box_wrap .box_sns .rss .twitter-follow-button,#sidebar .box_wrap .box_sns .rss img,#sidebar .box_wrap .box_sns .tw .btn,#sidebar .box_wrap .box_sns .tw .fb-like,#sidebar .box_wrap .box_sns .tw .twitter-follow-button,#sidebar .box_wrap .box_sns .tw img {
    display:block!important;
    float:left!important
}

#sidebar .box_wrap .box_sns .fb {
    background:#3B579D
}

#sidebar .box_wrap .box_sns .fb img {
    margin:0 15px 0 55px
}

#sidebar .box_wrap .box_sns .tw {
    background-color:#00b0ed
}

#sidebar .box_wrap .box_sns .tw img {
    margin:0 15px 0 60px
}

#sidebar .box_wrap .box_sns .rss {
    background:#f58a00
}

#sidebar .box_wrap .box_sns .rss img {
    margin:0 5px 0 35px
}

#sidebar .box_wrap .box_sns .rss .btn {
    display:block;
    border:1px solid #ccc;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#e2e2e2));
    background-image:-webkit-linear-gradient(#fff,#e2e2e2);
    background-image:-moz-linear-gradient(#fff,#e2e2e2);
    background-image:-o-linear-gradient(#fff,#e2e2e2);
    background-image:linear-gradient(#fff,#e2e2e2);
    filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFFFFFFF',endColorstr='#FFE2E2E2');
    color:#333;
    text-decoration:none;
    cursor:pointer;
    line-height:120%;
    width:140px;
    font-size:86%;
    font-weight:700;
    padding:4px 0 3px
}

#sidebar .box_wrap .box_sns .rss .btn:hover {
    border-color:#999
}

#sidebar .box_wrap .box_ban {
    margin:0 0 30px
}

#sidebar .box_wrap .box_ban #recovery_banner_li {
    display:none
}

#sidebar .box_wrap .box_ban #recovery_banner_li.show {
    display:block
}

#sidebar .box_wrap .box_ban li {
    margin:0 0 10px;
    display:block;
    width:300px;
    height:120px;
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -webkit-transition:box-shadow .5s ease;
    -moz-transition:box-shadow .5s ease;
    -o-transition:box-shadow .5s ease;
    transition:box-shadow .5s ease
}

#sidebar .box_wrap .box_ban li:hover {
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.6);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.6);
    box-shadow:0 0 10px 0 rgba(0,0,0,.6)
}

#sidebar .box_wrap .box_ban li.explosion1 {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    transition:none;
    background-position:0 -120px
}

#sidebar .box_wrap .box_ban li.explosion2 {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    transition:none;
    background-position:0 0
}

#sidebar .box_wrap .box_ban li.explosion3 {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    transition:none;
    background-position:0 -240px
}

#sidebar .box_wrap .box_ban li.hide {
    display:none
}

#sidebar .box_wrap .box_ban li a {
    display:block;
    width:100%;
    height:100%
}

#side_cat {
    background:#fff;
    border-left:#ccc 1px solid;
    margin:0 0 30px;
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    box-shadow:0 0 10px 0 rgba(0,0,0,.2)
}
div#side_cat{ font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", "Osaka", sans-serif !important;}
#side_cat li {
    border-top:#e8e8e8 1px solid
}

#side_cat li a {
    color:#000;
    padding:10px 20px;
    width:269px;
    /*border-right:#ccc 1px solid;*/
    overflow:hidden;
    background:#fff;
    display:block;
    text-decoration:none;
    -webkit-transition:background .3s ease;
    -moz-transition:background .3s ease;
    -o-transition:background .3s ease;
    transition:background .3s ease
}

#side_cat li a:hover {
    background:#ececec;
    font-weight:700
}

#sidebar li a:hover span.new {
    color:#000;
    background:#ffffff;
    font-weight:400
}

#side_cat li a span {
    float:left;
    display:block
}
#side_cat ul.mokuji li a{
    padding:5px 5px 5px 20px;
}

#side_cat ul.mokuji li a.child{
    padding:5px 10px 5px 30px;
}

#sidebar li a span.new {
    font-family:Montserrat,sans-serif;
    -webkit-font-smoothing:antialiased;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    float:right;
    background:#ececec;
    color:#999;
    padding:0 5px;
    -webkit-transition:background .3s ease;
    -moz-transition:background .3s ease;
    -o-transition:background .3s ease;
    transition:background .3s ease
}

#side_cat .current {
    font-weight:700
}

#side_cat .current span.new {
    background:#000;
    color:#fff;
    font-weight:700;
    font-weight:400
}

#side_cat .news .current span.new {
    background:#82ad00;
    color:#fff;
    font-weight:700
}

#side_cat li a span.ico {

    float:right;

}

.side_list {
    width:300px;
    margin:0px 0px 30px 10px;
    background:#fff;
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
}
div.side_list{ font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", "Osaka", sans-serif !important;}
.side_list li {
    border-top:#e8e8e8 1px solid
}

.side_list li a {
    color:#000;
    padding:10px 20px;
    width:259px;
    /*border-right:#ccc 1px solid;*/
    overflow:hidden;
    background:#fff;
    display:block;
    text-decoration:none;
    -webkit-transition:background .3s ease;
    -moz-transition:background .3s ease;
    -o-transition:background .3s ease;
    transition:background .3s ease
}

.side_list li a:hover {
    background:#ececec;
    font-weight:700
}

.side_list li a:hover span.count {
    color:#000;
    background:#ececec;
    font-weight:400
}

.side_list li a span {
    float:left;
    display:block
}

.side_list li a span.count {
    font-family:Montserrat,sans-serif;
    -webkit-font-smoothing:antialiased;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    float:right;
    /*background:#ececec;*/
    color:#999;
    padding:0 5px;
    -webkit-transition:background .3s ease;
    -moz-transition:background .3s ease;
    -o-transition:background .3s ease;
    transition:background .3s ease
}

.side_list .current {
    font-weight:700
}

.side_list .current span.count {
    /*background:#000;*/
    color:#fff;
    font-weight:700;
    font-weight:400
}

.side_list .news .current span.count {
    background:#82ad00;
    color:#fff;
    font-weight:700
}

#side_cat dt,.side_list dt {
    border-top:#e8e8e8 1px solid;
    padding:10px 20px;
    overflow:hidden;
    background:#fff;
    clear: left;
    float: left;
    width: 170px;
}
#side_cat dd,.side_list dd{
    border-top:#e8e8e8 1px solid;
    background: #fff;
    margin-left: 170px;
    padding:10px 20px;
}

/* document
--------------------------------------------------*/
#document_navi {
    width:640px;
    margin-bottom:10px;
    margin-left:10px;
    float:left;
}

#document_navi_ad {
    width:300px;
    margin:0px 0px 0px 30px;
    float:left;
}
#document_html {
    width:660px;
    margin-bottom:40px;
    margin-left:10px;
    float:left;
    color:#000;
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
}
#document {
    /*width:640px;*/
    width:660px;
    /* border-bottom:1px solid #dad9d9; */
    margin-bottom:40px;
    margin-left:10px;
    float:left;
    color:#000;
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
}
#document .blank {
    padding:60px 30px;
    text-align:center;
}

#document table{
    width:100%;
    border-collapse:collapse;
    /* border-top:1px dotted #c4c3c0; */
    /*font-size:12px;*/
}

#document th{
    border-top:1px solid #dfdedb;
    border-bottom:1px dotted #c4c3c0;
    border-right:1px solid #dfdedb;
    background:#f8f8f8;
    font-weight:bold;
    padding: 10px;
    text-align:center;
}

#document td{
    /*width:110px;*/
    border-bottom:1px dotted #c4c3c0;
    border-right:1px solid #dfdedb;
    padding: 3px;
    text-align:center;
}
#document td.value{
    border-right:none;
}
#document td.first{
    border-top:1px solid #dfdedb;
}

#document tr.last td{
    border-bottom:1px solid #dfdedb;
}
#document tr.last th{
    border-bottom:1px solid #dfdedb;
}
#document td.jpy{
    width:110px;
    border-bottom:1px dotted #c4c3c0;
    /*border-right:1px solid #dfdedb;*/
    padding: 10px;
    text-align:right;
}

#document th.cell01{ border-left:1px solid #dfdedb; }
#document td.cell02{ border-left:1px solid #dfdedb; }
#document th.date{ width:90px; }
#document th.code{ width:60px; }
#document th.dl{ width:80px; }
#document th.income{ width:60px; }
#document th.trend{ width:40px; }

#document td.new{ background:#FF904B;color:#fff; }

#document table.finance th{
    font-size:90%;
    padding: 2px;
}
#document table.finance th a{
    text-decoration: none;
}
#document table.finance td{
    font-size:90%;
    text-align:right;
}
#document table.finance th.l1{
    text-align:left;
}
#document table.finance th.l2{
    font-weight:normal;
    text-align:left;
    padding-left:20px;
}
#document table.finance th.date{
    width:60px;
}
#document table.finance th.code{
    width:60px;
}
#document table.finance th.company_name{
    width:150px;
}
#document table.finance th.market{
    width:80px;
}
#document table.finance th.data{
    width:50px;
}
#document table.finance td.txt{
    font-size:90%;
    text-align:center;
}
#document #download{
    width:600px;
    margin:10px;
    padding:10px;
    background-color:#f8f8f8;
    border:1px solid #e3e3e3;
}
#issues{
    border-top:1px solid #dfdedb;
    border-left:1px solid #dfdedb;
    margin-left:10px;
    width:970px;
}

#issues table{
    width:100%;
    border-collapse:collapse;
    /* border-top:1px dotted #c4c3c0; */
    font-size:12px;
}

#issues th{
    border-top:1px solid #dfdedb;
    border-bottom:1px dotted #c4c3c0;
    border-right:1px solid #dfdedb;
    background:#f8f8f8;
    font-weight:bold;
    padding: 10px;
    text-align:center;
}

#issues td{
    /*width:110px;*/
    border-bottom:1px dotted #c4c3c0;
    border-right:1px solid #dfdedb;
    padding: 3px;
    text-align:center;
}

.chart {
    position: relative;
    float: left; 
    margin-right: 18px;
}
.chart .count {
    position: absolute;
    border-radius: 50%;
    top: 80px;
    left: 25px;
    height: 152px;
    width: 152px;
    text-align:center;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    color: #F38630;
    line-height:120%;
}

#chart_precipitation_total {
    float:left;
    position: relative;
    width: 380px;
}
#chart_precipitation_total .count {
    position: absolute;
    top: 0;
    left:0 ;
    width: 100%;
    text-align: right;
}
#chart_precipitation_total em, 
#chart_precipitation_total span {
    font-family: Arial;
    width: 100%;
    text-align: center;
}
#chart_precipitation_total em {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: #66ccff;
}
#chart_precipitation_total .caption {
    color: #ccc;
    font-size: 12px;
}

.finance_graph {
    float:left;
    position: relative;
    width: 300px;
    margin-top:10px;
}
.finance_graph .count {
    position: absolute;
    top: 0;
    left:0 ;
    width: 100%;
    text-align: right;
}
.finance_graph em, 
.finance_graph span {
    font-family: Arial;
    width: 100%;
    text-align: center;
}
.finance_graph em {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: #66ccff;
}
.finance_graph .caption {
    color: #ccc;
    font-size: 12px;
}

/*-- adsense -------------*/
#adsense_bottom span {
  text-align: center;
  display: block;
  vertical-align: bottom;
  padding: 5px 0 5px;
}

/* iPad用
------------------------------------------------------------------*/
@media only screen and (min-device-width : 641px) and (max-device-width : 1024px) {

#header{width:100% !important;}    
#headerInner{width:100%;}
#contentsInner { width:95%; }
#breadcrumbInner { width:100%; }
#contentsInner:not([width]) { zoom: 0.74; }
#breadcrumb { width:100%; }
#breadcrumbInner { width:95%; margin-left:5px;}
#contentsInner:not([width]) { zoom: 0.75; }
#cloud {right:10px; }
#header h1{ left:8px; }
#header .navPc {right:8px;}
#ind #mainImage .searchBox:not([width]) { zoom: 0.9; }
#ui-datepicker-div:not([width]) { zoom: 0.9; }
#contentsInner div.box .date {margin-bottom:0px;}
#footerInner { width:auto; padding:0 30px; }
#ind #mainImage .boxInner{width:100%;}
#ind #mainImage .minWeather{ right:20px; }
#ind #mainImage .gradationLeft {display:none;}
#ind #mainImage .gradationRight {display:none;}
#mainImage.sub {height:225px;}    
#mainImage.sub #innerBox {width:100%;}
#mainImage.sub img.photo{ width:100%; height:auto; }
#mainImage.sub { background-size:auto 100%; }

#mainImage.sub h2 { margin-top:106px; padding:0 20px;}
#mainImage.sub h3 { padding:0 20px;}
#btnPc {width:920px; }



}

